<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5057C7F9-EB16-43FA-9CD8-2EFAB0EE12CC</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>65AFD646-0D2E-4F94-B91C-8B08F9438671</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
		<key>MailboxUserInfo</key>
		<dict>
			<key>DisplayInThreadedMode</key>
			<string>YES</string>
			<key>FilterEnabled</key>
			<string>NO</string>
			<key>FocusEnabled</key>
			<string>YES</string>
			<key>MailboxID</key>
			<string>65AFD646-0D2E-4F94-B91C-8B08F9438671</string>
			<key>MailboxViewingState</key>
			<dict>
				<key>ScrollPositionType</key>
				<integer>0</integer>
			</dict>
			<key>ReadLaterEnabled</key>
			<string>NO</string>
			<key>SelectedFilters</key>
			<array>
				<dict>
					<key>FilterIdentifier</key>
					<string>Unread</string>
				</dict>
			</array>
			<key>SortOrder</key>
			<string>received-date</string>
			<key>SortedDescending</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>6F99E2FB-A0F5-4CB4-9CD7-DB7E9139BD31</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
		<key>MailboxUserInfo</key>
		<dict>
			<key>DisplayInThreadedMode</key>
			<string>YES</string>
			<key>FilterEnabled</key>
			<string>NO</string>
			<key>FocusEnabled</key>
			<string>YES</string>
			<key>MailboxID</key>
			<string>6F99E2FB-A0F5-4CB4-9CD7-DB7E9139BD31</string>
			<key>MailboxViewingState</key>
			<dict>
				<key>ScrollPositionType</key>
				<integer>0</integer>
				<key>ThreadIdentifiers</key>
				<array>
					<integer>357</integer>
				</array>
			</dict>
			<key>ReadLaterEnabled</key>
			<string>NO</string>
			<key>SelectedFilters</key>
			<array>
				<dict>
					<key>FilterIdentifier</key>
					<string>Unread</string>
				</dict>
			</array>
			<key>SortOrder</key>
			<string>received-date</string>
			<key>SortedDescending</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>9D06AD54-207F-4906-BABD-619F7C4C8DC8</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
		<key>MailboxUserInfo</key>
		<dict>
			<key>DisplayInThreadedMode</key>
			<string>YES</string>
			<key>FilterEnabled</key>
			<string>NO</string>
			<key>FocusEnabled</key>
			<string>YES</string>
			<key>MailboxID</key>
			<string>9D06AD54-207F-4906-BABD-619F7C4C8DC8</string>
			<key>MailboxViewingState</key>
			<dict/>
			<key>ReadLaterEnabled</key>
			<string>NO</string>
			<key>SelectedFilters</key>
			<array>
				<dict>
					<key>FilterIdentifier</key>
					<string>Unread</string>
				</dict>
			</array>
			<key>SortOrder</key>
			<string>received-date</string>
			<key>SortedDescending</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>d58006cb-eaef-4101-82a7-c161382eb1d0</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>1</integer>
		<key>MailboxUserInfo</key>
		<dict>
			<key>DisplayInThreadedMode</key>
			<string>NO</string>
			<key>FilterEnabled</key>
			<string>NO</string>
			<key>FocusEnabled</key>
			<string>YES</string>
			<key>MailboxViewingState</key>
			<dict/>
			<key>ReadLaterEnabled</key>
			<string>NO</string>
			<key>SelectedFilters</key>
			<array>
				<dict>
					<key>FilterIdentifier</key>
					<string>Unread</string>
				</dict>
			</array>
			<key>SortOrder</key>
			<string>received-date</string>
			<key>SortedDescending</key>
			<string>YES</string>
		</dict>
	</dict>
</dict>
</plist>
