<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1171EFCF-6931-4557-B2CB-155E57EA1D36</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>1EC7CCE6-1668-478F-BA4C-8DC88D48C73D</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>20F73DB9-4F2A-4D88-98DA-3EF5C0DCC992</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>30702384-51ED-4479-8469-1CB4C2CBDB3E</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>3230C8D7-93E5-43B4-B029-1F41D219E3ED</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>44D037EF-825D-4A2E-A774-9054C8D1C6AA</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>191</integer>
	</dict>
	<key>53F43FCE-81F7-4DA7-ABC7-4CB804A6AB98</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>57125ED8-7D82-4FD6-98B2-DE177DBA5941</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>645495A0-A5B8-46E2-879C-C72A6A8E6DCF</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>69881704-0E98-425B-92EE-1D2ACEF349C5</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>6D506C1F-9D33-4ECC-A2DF-D401FECA087D</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>6ED299BB-483F-4B0B-81AA-EB0E2B426BA8</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>6F66D19A-320F-4A95-BFF9-2A0DFDA240AF</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>80998447-27E3-4861-A391-1751C5FEC7F7</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>80EA586C-B6A4-4DF3-9125-0480798F1C1F</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>A2C7BF5A-8461-41BA-8FD6-C7D12B1B5302</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>D1CB54B5-6AB6-4960-8018-08E244D148D4</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>DC1FE1FD-6DAB-48ED-9A85-1A0B73F94AD6</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
	<key>F7D6F9DD-F8B4-4784-A453-2668B24C8AEC</key>
	<dict>
		<key>MailboxUnreadCount</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
